html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin-left: 0;
  margin-right: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
}

.logo {
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
  font-family: "shrikhand", cursive;
  font-size: 28px;
  width: 70%;
}

.arrow {
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 25px;
  color: pink;
  width: 30%;
}
.arrow :hover {
  opacity: 0.6;
}

.bastille-pic {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.heart-area {
  position: relative;
  right: 350px;
  bottom: 0;
}

.nothing-heart {
  position: absolute;
  left: 250px;
  top: 30px;
  font-size: 30px;
  color: black;
}

.full-heart {
  position: absolute;
  left: 250px;
  top: 30px;
  font-size: 30px;
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 500ms;
}

.full-heart:hover {
  opacity: 1;
}

.new {
  position: relative;
  padding-top: 3px;
  left: 20px;
  top: -105px;
  background-color: #99E2D0;
  color: #1e7c2f;
  width: 70px;
  height: 25px;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;
}

.menu {
  background-color: #e5e6e7;
  border-radius: 50px 50px 0 0;
  margin-top: -65px;
  position: relative;
}
.menu-checkmark {
  width: 0;
}

.menu-title {
  display: flex;
}

.title {
  display: flex;
  justify-content: start;
  width: 100%;
  font-size: 28px;
  padding-top: 0px;
  font-family: "shrikhand", cursive;
  font-weight: 400;
  padding-left: 30px;
}

.menu-group {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.menu-cards {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.section-name {
  margin-bottom: 5px;
  margin-right: 225px;
}

.underline {
  border: 1px solid #99E2D0;
  width: 40px;
  margin-right: 250px;
}

.order-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.explore-btn {
  width: 230px;
  height: 50px;
  font-size: 16px;
  border-radius: 30px;
  margin-bottom: 30px;
  margin-top: 50px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
.explore-btn:hover {
  background-image: linear-gradient(#ff88de, #9b63df);
}

.menu-item {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #eff0f0;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 300px;
  min-width: 320px;
  margin-top: 10px;
  height: 70px;
  cursor: pointer;
  line-height: 35px;
}
.menu-item p {
  margin: 0;
}
.menu-item__price {
  justify-content: flex-end;
  width: 50px;
  padding: 10px;
}
.menu-item__checkmark {
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 70px;
}
.menu-item .spinning-checkmark {
  color: white;
}
.menu-item__slider {
  display: flex;
  justify-content: space-between;
  width: 372px;
  transition: width 900ms;
  gap: 30px;
  line-height: 40px;
}
.menu-item__slider div {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item:hover .menu-item__slider {
  width: 320px;
}
.menu-item:hover .menu-item__slider .spinning-checkmark {
  animation: go-go-checkmark 900ms forwards;
}
.menu-item__description {
  flex-basis: 100%;
  justify-content: space-between;
  padding: 10px;
  width: 258px;
  padding-bottom: 20px;
}
.menu-item__description .menu-dish {
  font-size: 18px;
  white-space: normal;
  font-weight: bold;
}
.menu-item .menu-ingredients {
  white-space: nowrap;
  font-size: 14px;
  font-weight: normal;
}
.menu-item .menu-ingredients {
  font-size: 16px;
  margin-top: -12px;
  font-weight: normal;
}
.menu-item .menu-dish,
.menu-item .menu-ingredients,
.menu-item .dish-ingredients {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item .dish-ingredients {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 370px;
}
.menu-item .menu-price {
  padding-top: 29px;
  padding-right: 20px;
}
.menu-item footer {
  padding-bottom: 10px;
}
.menu-item ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 40px;
}
.menu-item ul li {
  width: 220px;
}
@media (min-width: 769px) {
  .menu-item .logo {
    padding-left: 10px;
    height: 45px;
    font-size: 24px;
  }
  .menu-item .menu-title {
    font-size: 30px;
    padding-left: 120px;
  }
  .menu-item .section-name,
  .menu-item .underline {
    font-size: 22px;
    margin-left: 20px;
  }
  .menu-item .menu-item {
    margin-left: 110px;
    min-width: 380px;
    max-width: 550px;
  }
  .menu-item .menu-group {
    display: inline;
    flex-wrap: wrap;
    gap: 30px;
  }
  .menu-item .explore-btn {
    margin-left: 350px;
  }
}
@media (min-width: 769px) and (min-width: 993px) {
  .menu-item header {
    background-color: aqua;
  }
  .menu-item .arrow {
    padding-left: 80px;
    padding-top: 10px;
  }
  .menu-item .section-name {
    padding-left: 120px;
  }
  .menu-item .underline {
    margin-left: 120px;
    width: 60px;
  }
  .menu-item .explore-btn {
    margin-left: 300px;
    width: 220px;
    height: 50px;
    margin-top: 30px;
  }
}
.menu-item .restaurants {
  background-color: whitesmoke;
  margin-top: 130px;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.menu-item .restaurants h2 {
  font-size: 22px;
  top: 40px;
}
.menu-item .restaurant-title {
  position: absolute;
  left: 40px;
  top: 30px;
  font-weight: 600;
}
.menu-item .restaurant-cardbox {
  padding-top: 110px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.menu-item .restaurant-cards {
  background-color: white;
  border-radius: 20px;
  width: 290px;
  height: 230px;
  flex-direction: column;
  position: relative;
}
.menu-item .restaurant-cards:hover {
  opacity: 0.4;
}
.menu-item .restaurant-pic {
  width: 290px;
  height: 160px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.menu-item .restaurant-pic--offset {
  object-position: 50% 60%;
}
.menu-item .name-city {
  line-height: 8px;
  margin-left: 20px;
  color: black;
  position: relative;
}
.menu-item .name {
  font-weight: 800;
}
@keyframes go-go-checkmark {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cards-fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-card-first {
  animation: cards-fading 2000ms forwards;
  transform: translateY(30px);
  opacity: 0;
}
.delay-card-second {
  animation: cards-fading 2000ms 500ms forwards;
  transform: translateY(30px);
  opacity: 0;
}
.delay-card-third {
  animation: cards-fading 2000ms 1000ms forwards;
  transform: translateY(30px);
  opacity: 0;
}

.spinner-area {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  animation: spinner-holder 0ms 3s forwards;
}

.spinner {
  width: 100vw;
  height: 100vh;
  border: 16px solid blue;
  background: rgba(170, 187, 97, 0.5);
  border-top: 16px solid aqua;
  border-radius: 50%;
  animation: spinning 3s linear 1;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  98% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-holder {
  to {
    transform: scale(0);
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.home-logo {
  font-family: "shrikhand", cursive;
  font-size: 28px;
  justify-content: center;
  padding-bottom: 10px;
}

.search-pin {
  text-align: center;
}

.paris {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  display: flex;
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 60px;
}

.book-menu {
  font-size: 22px;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
}

.top-of-the-art {
  font-size: 18px;
  color: #7f8387;
  font-weight: 200;
  font-family: "Open sans", sans-serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.exploration-btn {
  width: 230px;
  height: 50px;
  font-size: 17px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0px 5px 15px 0px rgba(37, 35, 35, 0.35);
}
.exploration-btn:hover {
  background-image: linear-gradient(#ff88de, #9b63df);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.8);
}

.instructions {
  top: 60px;
}

.instructions-title {
  margin-left: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  margin-top: 55px;
}

.instructions-btn {
  display: flex;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 300px;
  height: 70px;
  margin-top: 30px;
  position: relative;
  background-color: #eeeeee;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
.instructions-btn__step {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 25px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: -15px;
  background-color: #9356DC;
  color: white;
}
.instructions-btn__icon {
  position: absolute;
  padding-left: 40px;
  top: 25px;
  color: #46474a;
}
.instructions-btn__text {
  padding-left: 80px;
  position: absolute;
  top: 24px;
  font-size: 16px;
}
.instructions-btn__area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.instructions-btn--highlighted {
  color: #9356DC;
}
.instructions-btn--pink-btn {
  background-color: #e6d8f7;
}

a {
  text-decoration: none;
}

.new {
  padding-top: 3px;
  position: absolute;
  background-color: #99E2D0;
  color: #1e7c2f;
  width: 70px;
  height: 25px;
  top: -130px;
  left: 235px;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;
}

.name-city {
  line-height: 8px;
  margin-left: 20px;
  color: black;
  position: relative;
  font-size: 16px;
}

.name {
  font-weight: 800;
}

.empty-heart {
  position: absolute;
  font-size: 30px;
  color: black;
  padding-left: 0;
}

.filled-heart {
  position: absolute;
  font-size: 30px;
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 500ms;
}
.filled-heart:hover {
  opacity: 1;
}

.empty-heart,
.filled-heart {
  left: 250px;
  top: 30px;
  font-size: 26px;
  font-weight: 100;
}

.restaurants {
  background-color: whitesmoke;
  margin-top: 60px;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.restaurants h2 {
  font-size: 24px;
  top: 40px;
}

.restaurant-title {
  position: absolute;
  left: 30px;
  top: 30px;
  font-weight: 600;
}

.restaurant-cardbox {
  padding-top: 110px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.restaurant-cards {
  background-color: white;
  border-radius: 20px;
  width: 320px;
  height: 230px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.05);
}

.restaurant-cards:hover {
  opacity: 0.7;
}

.restaurant-card {
  position: relative;
}

.restaurant-pic {
  width: 320px;
  height: 160px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: 0% 90%;
}

.restaurant-pic--offset {
  object-position: 50% 60%;
}

@media (min-width: 769px) {
  .home-logo {
    font-size: 35px;
    background-color: white;
    justify-content: center;
    margin-left: 5px;
  }
  .location {
    position: relative;
  }
  .search-pin {
    left: 300px;
  }
  .paris {
    left: 340px;
  }
  .book-menu {
    font-size: 30px;
  }
  .top-of-the-art {
    text-align: center;
    font-size: 26px;
  }
  .exploration-btn {
    width: 230px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 0;
  }
  .instructions-title {
    font-size: 10px;
    margin-left: 110px;
    font-size: 30px;
  }
  .instructions-btn__area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .instructions-btn {
    font-size: medium;
    width: 500px;
    padding-left: 400px;
  }
  .instructions-btn__icon {
    left: 30px;
    font-size: x-large;
  }
  .instructions-btn__text {
    left: 60px;
    font-size: 20px;
  }
  .instructions-btn__step {
    position: absolute;
    right: 490px;
  }
  .new {
    top: 20px;
  }
  .empty-heart,
  .filled-heart {
    left: 270px;
    top: 170px;
  }
  .restaurant-cardbox {
    gap: 70px;
  }
  .restaurant-pic {
    display: flex;
  }
  footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 40px;
  }
  footer ul li {
    width: 220px;
  }
  .footer-header {
    font-size: x-large;
    left: 150px;
    padding-top: 40px;
  }
}
@media (min-width: 993px) {
  .home-logo {
    height: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: white;
    justify-content: center;
  }
  .paris {
    font-size: 20px;
  }
  .top-of-the-art {
    font-size: 28px;
    margin-top: 30px;
    padding: 40px;
  }
  main {
    display: flex;
    height: 600px;
  }
  .exploration {
    width: 80%;
    padding-bottom: 0;
    background-color: white;
  }
  .book-menu {
    font-size: 24px;
    padding-left: 0px;
    padding-top: 60px;
  }
  .exploration-btn {
    font-size: 20px;
    width: 280px;
    height: 50px;
    margin-left: 0;
  }
  .instructions {
    width: 80%;
  }
  .instructions-btn {
    width: 300px;
    font-size: 26px;
    margin-top: 40px;
  }
  .instructions-btn__icon {
    padding-left: 20px;
    top: 25px;
    color: #46474a;
  }
  .instructions-btn--highlighted {
    color: #9356DC;
  }
  .instructions-btn__area {
    display: flex;
    padding-left: 40px;
    gap: 0;
  }
  .instructions-btn__step {
    position: absolute;
    right: 390px;
    font-size: 18px;
  }
  .instructions-btn__text {
    font-size: 24px;
    left: 20px;
  }
  .instructions-title {
    font-size: 24px;
    margin-left: 0;
    margin-top: 60px;
    padding-top: 40px;
  }
  h2 {
    padding-left: 160px;
    padding-top: 20px;
    font-size: 30px;
  }
  .name-city {
    font-size: 20px;
  }
  .restaurants {
    margin-top: 0;
  }
  .restaurants h2 {
    font-size: 30px;
    top: -10px;
  }
  .restaurant-cardbox {
    gap: 110px;
  }
  .restaurant-cards {
    top: 30px;
  }
  .footer-header {
    font-size: 30px;
  }
}
footer {
  padding-bottom: 20px;
  background-color: #46474a;
}
footer h3 {
  font-family: "shrikhand", cursive;
  font-size: 20px;
  margin-left: 40px;
  padding-top: 30px;
  color: white;
  margin-top: -1px;
  font-weight: normal;
}
footer ul {
  margin-bottom: 50px;
}
footer ul li {
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 25px;
  color: white;
  font-weight: 600;
}
footer ul .list-logo-1 {
  margin-left: 14px;
  color: white;
}
footer ul .list-logo-2 {
  margin-left: 8px;
  color: white;
}
footer ul .list-text {
  color: white;
}

/*# sourceMappingURL=style.css.map */
