html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}




.logo {
    border-style: none;
    height: 40px;
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

form {
    background-color: plum;
    height: 60px;
    position: relative;
}

.search-bar {
    position: absolute;
    right: 40px;
}


.tagline {
   background-color: greenyellow;
  

}

.explore-btn {
    border-radius: 25px;
    height: 50px;
    background-image: linear-gradient(#FF79DA, #9356DC);
   
}

.instructions {
    background-color: violet;
    height: 300px;

}



.btn-instructions {
    position: relative;
    border-radius: 30px;
    height: 85px;
    width: 320px;
    font-family: Roboto;
    display: flex;
    padding: 30px;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 100px;
    background-color: #9356DC;
}


icon-phone {
    position: absolute;
    bottom: 10px;
    right: 40px;
}

