.spinner-area {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  animation: spinner-holder 0ms 3s forwards;
}

.spinner {
  width: 100vw;
  height: 100vh;
  border: 16px solid blue;
  background: rgba(170, 187, 97, 0.5);
  border-top: 16px solid aqua;
  border-radius: 50%;
  animation: spinning 3s linear 1;

}

@keyframes spinning {
  0% {
    transform: rotate(0deg);

  }

  98% {
    transform: rotate(360deg);

  }

  100% {
    transform: rotate(360deg);

  }
}

@keyframes spinner-holder {
  to {
    transform: scale(0);
  }
}


.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1);
}


header {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;

}


.logo {
  flex-direction: row;
  font-family: 'shrikhand', cursive;
  font-size: 28px;
  justify-content: center;
  left: 0;
  margin-bottom: -45px;

}

.search-pin {
  text-align: center;
}

.paris {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  display: flex;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 70px;

}

.book-menu {

  font-size: 20px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

.top-of-the-art {
  font-size: 20px;
  color: $medium-grey;
  font-weight: 200;
  font-family: 'Open sans', sans-serif;
  text-align: center;
}

.explore-btn {
  width: 230px;
  height: 50px;
  font-size: 17px;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 5px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);

  &:hover {
    background-image: linear-gradient(lighten(#FF79DA, 3%), lighten(#9356DC, 3%));


  }
}

.instructions {
  top: 60px;
}

.instructions-title {

  margin-left: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  margin-top: 55px;
}


.instructions-btn {
  display: flex;

  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 300px;
  height: 70px;
  margin-top: 30px;
  position: relative;
  background-color: #eeeeee;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);


  &__step {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 25px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: -15px;
    background-color: #9356DC;
    color: white;
  }

  &__icon {
    position: absolute;
    padding-left: 40px;
    top: 25px;
    color: $dark-grey;
  }

  &__text {
    padding-left: 80px;
    position: absolute;
    top: 24px;
    font-size: 16px;
  }

  &__area {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }

  &--highlighted {
    color: $primary-color;
  }

  &--pink-btn {
    background-color: #e6d8f7;
  }

}

a {
  text-decoration: none;

}

.new {
  padding-top: 3px;
  position: absolute;
  background-color: #99E2D0;
  color: #1e7c2f;
  width: 70px;
  height: 25px;
  bottom: 195px;
  left: 210px;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;
}

.name-city {
  line-height: 8px;
  margin-left: 20px;
  color: black;
  position: relative;
}

.name {
  font-weight: 800;
}

.empty-heart {
  position: absolute;
  left: 160px;
  top: 170px;
  font-size: 30px;
  color: black;
  padding-left: 0;
}

.filled-heart {
  position: absolute;
  left: 240px;
  bottom: 24.5px;
  font-size: 30px;
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 500ms;
}

.filled-heart:hover {
  background-color: linear-gradient(#FF79DA, #9356DC);
  opacity: 1;
}


.restaurants {
  background-color: whitesmoke;
  margin-top: 60px;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.restaurants h2 {
  font-size: 22px;
  top: 40px;
}

.restaurant-title {
  position: absolute;
  left: 40px;
  top: 30px;
  font-weight: 600;
}

.restaurant-cardbox {
  padding-top: 110px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.restaurant-cards {
  background-color: white;
  border-radius: 20px;
  width: 290px;
  height: 230px;
  flex-direction: column;
  position: relative;
  left: 5px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.05);
}

.restaurant-cards:hover {
  opacity: 0.7;
}

.restaurant-pic {
  width: 290px;
  height: 160px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.restaurant-pic--offset {
  object-position: 50% 60%;
}



@media (min-width:769px) {


  .logo {
    font-size: 35px;
    background-color: white;
    justify-content: center;
    margin-left: 5px;
  }

  .location {
    position: relative;

  }

  .search-pin {
    left: 300px;
  }

  .paris {
    left: 340px;

  }

  .book-menu {
    font-size: 30px;
  }

  .top-of-the-art {
    text-align: center;
    font-size: 26px;

  }

  .explore-btn {
    width: 230px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 0;
  }


  .instructions-title {
    font-size: 10px;
    margin-left: 110px;
    font-size: 30px;
  }

  .instructions-btn__area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .instructions-btn {
    font-size: medium;
    width: 500px;
    padding-left: 400px;

    &__icon {
      left: 30px;
      font-size: x-large;
    }

    &__text {
      left: 60px;
      font-size: 20px;
    }

    &__step {
      position: absolute;
      right: 490px;

    }


  }


  // .instructions-title {
  //   font-size: 28px;
  //   left: 180px;
  // }

  .restaurant-cardbox {
    gap: 70px;
  }


  .restaurant-pic {
    display: flex;
  }

  footer {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: 40px;

      li {
        width: 220px;
      }
    }
  }

  .footer-header {
    font-size: x-large;
    left: 150px;
    padding-top: 40px;
  }


}

@media (min-width:993px) {


  .logo {
    height: 35px;
    margin-top: 10px;
    background-color: white;
    justify-content: center;
  }

  .paris {
    font-size: 20px;
  }

  .top-of-the-art {
    font-size: 28px;
    margin-top: 30px;
    padding: 40px;
  }


  main {
    display: flex;
    height: 600px;

  }

  .explore {
    width: 50%;
    padding-bottom: 0;
    background-color: white;
  }

  .book-menu {
    font-size: 24px;
    padding-left: 0px;
    padding-top: 60px;
  }

  .explore-btn {
    font-size: 22px;
    margin-top: 60px;
    width: 280px;
    height: 70px;
    margin-left: 0;
  }

  .instructions {
    width: 50%;

  }

  .instructions-btn {
    width: 300px;
    font-size: 26px;
    margin-top: 40px;
  

  &__icon {
   
    padding-left: 20px;
    top: 25px;
    color: $dark-grey;
  }

  &--highlighted {
    color: $primary-color;
  }

  &__area {
    display: flex;
    padding-left: 40px;
    gap: 0;
  }

  &__step {
    position: absolute;
    right: 390px;
    font-size: 18px;
  }

  &__text {
    font-size: 24px;
    left: 20px;
  }

}

  .instructions-title {
    font-size: 24px;
    margin-left: 0;
    margin-top: 60px;
    padding-top: 40px;
  }


  h2 {
    padding-left: 160px;
    padding-top: 20px;
    font-size: 30px;

  }

  .name-city {
    font-size: 20px;
  }

  .restaurants {
    margin-top: 0;

    h2 {
      font-size: 30px;
      top: -10px;
      
    }
  }

  .restaurant-cardbox {
    gap: 110px;
  }


  .restaurant-cards {
    top: 30px;
  }



  .footer-header {
    font-size: 30px;
  }
}