$xlight-gray:#eff0f0;
$light-grey: #e5e6e7;
$medium-grey: #7f8387;
$dark-grey: #46474a;
$white: #ffffff;

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$green:  #1e7c2f;